* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-cormorant-regular {
    font-family: var(--font-cormorant);
    font-weight: 400;
}

.font-cormorant-bold {
    font-family: var(--font-cormorant);
    font-weight: 700;
}
